@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 23 23 23; /* #171717 */
        --color-bg-main: 242 240 236; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
    }
    html.dark {
        --color-text-main: 242 240 236; /* #F2F1EC */
        --color-bg-main: 23 23 23; /* #171717 */
        --color-bg-muted: 36 36 36; /* #242424 */
        --color-border-main: 242 240 236; /* #F2F1EC */
    }


    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}


.prose a {
    @apply text-orange-700;
}

.prose a:visited {
    @apply text-orange-900;
}

.dark .prose a {
    @apply text-orange-300;
}

.dark .prose a:visited {
    @apply text-orange-500;
}


.prose blockquote p::before,
.prose blockquote p::after {
    content: none;
}

/* CALLOUTS */

/* Podstawowy styl dla callout */
.callout {
    padding: 1rem;
    border-left: 4px solid;
    background: #f0f8ff;
    margin: 1rem 0;
    border-radius: 4px;
}

/* Styl dla nagłówka calloutu */
.callout-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.callout-title p {
    margin: 0;
}

/* Styl dla ikony calloutu */
.callout-icon {
    margin-right: 0.5rem;
}

/* Specyficzne style dla różnych typów calloutów */
.callout.tip {
    border-color: #00aaff;
    background: #e6f7ff;
}

.callout.warning {
    border-color: #ffaa00;
    background: #fff3e6;
}

.callout.danger {
    border-color: #ff4444;
    background: #ffe6e6;
}

.callout.info {
    border-color: #1e90ff;
    background: #e6f7ff;
}

/* Dodatkowe style dla treści calloutu */
.callout-content p {
    margin: 0 0 0.5rem;
}

.callout-content p:last-child {
    margin-bottom: 0;
}

/* make it a bit orange and make text decoration a bit further down from the text*/
.broken-link {
    @apply text-gray-800;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
.broken-link:hover {
    @apply text-gray-900;

}

/* Umami Interest Modal */

.UmamiInterestModal h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.UmamiInterestModal p {
    font-size: 1em;
    margin-bottom: 15px;
}

.UmamiInterestModal__Buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.UmamiInterestModal__Buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    @apply bg-orange-800;
    color: white;
    transition: background-color 0.3s;
}

 .UmamiInterestModal__Buttons button:hover {
    @apply bg-orange-900;
}

 .UmamiInterestModal__Buttons #closeUmamiInterestModal {
    background-color: #6c757d;
}

 .UmamiInterestModal__Buttons #closeUmamiInterestModal:hover {
    background-color: #5a6268;
}

 .UmamiInterestModal input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1em;
}

 .UmamiInterestModal input[type="email"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

 .UmamiInterestModal small {
    display: block;
    margin-top: 10px;
    font-size: 0.85em;
    color: #6c757d;
}