---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Pagination from '../components/Pagination.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
---

<BaseLayout
    title="Portfolio"
    description="Explore a diverse portfolio showcasing my passion and expertise"
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Konsultacje</h1>

    <section class="prose">
        <h2 class="wp-block-heading">Potrzebujesz indywidualnego wsparcia?</h2>

        <p>Jestem technologicznym i biznesowym generalist, czyli ekspertem od integracji i cznie wielu r贸偶nych dziedzin w praktycznych zastosowaniach.</p>

        <h3 class="wp-block-heading">Dlaczego warto skorzysta z konsultacji?</h3>

        <ol>
            <li><strong>wie偶e spojrzenie i neutralno</strong>: Spojrz z boku na problem bez uprzedze zwizanych z dziaalnoci firmy.</li>

            <li><strong>Interdyscyplinarna wiedza</strong>: cz r贸偶ne dziedziny i metody w celu znalezienia innowacyjnych rozwiza.</li>

            <li><strong>Umiejtno integracji</strong>: cz r贸偶norodne podejcia i techniki w celu stworzenia sp贸jnych strategii.</li>

            <li><strong>Dowiadczenie z innych projekt贸w</strong>: Wnios wartociowe wskaz贸wki i najlepsze praktyki z poprzednich dowiadcze.</li>

            <li><strong>Zarzdzanie zmian</strong>: Przeprowadz Ciebie oraz Twoj firm przez zmian, skupiajc si na aspektach ludzkich i kulturowych.</li>
        </ol>

        <p> <strong>Um贸w si na bezpatne 30-minutowe konsultacje</strong> przez <a href="https://calendly.com/michal-kukla/30min">Calendly</a>.</p>

        <p>Potrzebujesz wicej czasu lub regularnych spotka?</p>

        <p> <a href="https://app.easycart.pl/checkout/24365475/konsultacje">Zam贸w konsultacje</a></p>
    </section>


</BaseLayout>
