---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Pagination from '../components/Pagination.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import { Icon } from 'astro-icon/components';

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
---

<BaseLayout
  title="Konsultacje"
  description="Oferuj szeroki zakres konsultacji technologicznych i biznesowych, kt贸re pomog Twojej firmie osign sukces"
  showHeader={false}
>
    <section class="hero bg-gray-100 dark:bg-gray-900 p-8 rounded-lg shadow-md prose prose-dante">
        <h1 class="text-3xl font-bold leading-tight sm:text-4xl">Wykorzystaj peny potencja technologii w swojej firmie</h1>
        <p class="mt-4 text-lg sm:text-xl">Zapewniam eksperckie wsparcie w integracji system贸w i optymalizacji proces贸w, pomagajc firmom obni偶y koszty i zwikszy efektywno operacyjn.</p>

        <p class="mt-8"><a href="https://calendly.com/michal-kukla/30min" class="underline">Um贸w si na bezpatne 30-minutowe konsultacje</a></p>
    </section>

    <section class="prose prose-dante mt-8">

        <h3 class="wp-block-heading">Obszary, w kt贸rych mog pom贸c:</h3>

        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:file-chart" />
                    <h4 class="text-xl font-semibold">Automatyzacja proces贸w ksigowych</h4>
                </div>
                <p>Przygotowanie arkuszy kalkulacyjnych i wykaz贸w faktur, kt贸re umo偶liwiaj automatyczne przenoszenie danych, co redukuje ryzyko bd贸w i zmniejsza ilo pracy rcznej.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:database" />
                    <h4 class="text-xl font-semibold">Efektywne zarzdzanie danymi i raportami</h4>
                </div>
                <p>Tworzenie zaawansowanych arkuszy kalkulacyjnych, takich jak tabele przestawne, kt贸re umo偶liwiaj filtrowanie i analiz danych na r贸偶nych poziomach szczeg贸owoci.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:account-multiple" />
                    <h4 class="text-xl font-semibold">Optymalizacja zarzdzania personelem</h4>
                </div>
                <p>Zrozumienie i usprawnienie list pac, rejestracji czasu pracy i rozlicze pracownik贸w.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:server" />
                    <h4 class="text-xl font-semibold">Migracja i zarzdzanie serwerami oraz stronami internetowymi</h4>
                </div>
                <p>Migracja stron internetowych na nowoczesne serwery, optymalizacja kodowania oraz ustawienia zgodne z najnowszymi standardami bezpieczestwa.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:cloud-sync" />
                    <h4 class="text-xl font-semibold">Integracja system贸w informatycznych</h4>
                </div>
                <p>Spicie Twoich system贸w informatycznych z innymi narzdziami, takimi jak Zapier, oraz tworzenie skrypt贸w do automatyzacji proces贸w.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:cash-multiple" />
                    <h4 class="text-xl font-semibold">Analiza i optymalizacja koszt贸w operacyjnych</h4>
                </div>
                <p>Analiza koszt贸w usug, takich jak hosting, oraz negocjacje cenowe i redukcja zbdnych wydatk贸w.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:cogs" />
                    <h4 class="text-xl font-semibold">Poprawa proces贸w operacyjnych poprzez metodyki Lean i Theory of Constraints</h4>
                </div>
                <p>Wykorzystanie narzdzi takich jak 5x Whys, drzewo CRT (Current Reality Tree) czy Evaporating Cloud do rozwizywania dylemat贸w, identyfikacji i eliminacji wskich garde oraz problem贸w operacyjnych.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:spa" />
                    <h4 class="text-xl font-semibold">Promocja i rozw贸j usug hotelowych i SPA</h4>
                </div>
                <p>Przygotowanie strategii promocyjnych, organizacja dni otwartych, oraz analiza i optymalizacja wska藕nik贸w dla hotelu i SPA.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:account-group" />
                    <h4 class="text-xl font-semibold">Zarzdzanie projektami zgodnie z metodyk Agile</h4>
                </div>
                <p>Implementacja Agile w codziennych dziaaniach, co pomaga w szybkim reagowaniu na zmiany i lepszym zarzdzaniu priorytetami.</p>
            </div>

            <div class="p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <div class="flex items-center mb-4">
                    <Icon class="w-10 h-10 mr-3" name="mdi:clipboard-check" />
                    <h4 class="text-xl font-semibold">Usprawnianie proces贸w administracyjnych</h4>
                </div>
                <p>Tworzenie i wdra偶anie standard贸w pracy, kt贸re poprawiaj organizacj i efektywno operacyjn.</p>
            </div>
        </div>


        <h3 class="wp-block-heading">Dlaczego warto skorzysta z konsultacji?</h3>

        <ol>
            <li><strong>wie偶e spojrzenie i neutralno</strong>: Spojrz z boku na problem bez uprzedze zwizanych z dziaalnoci firmy.</li>

            <li><strong>Interdyscyplinarna wiedza</strong>: cz r贸偶ne dziedziny i metody w celu znalezienia innowacyjnych rozwiza.</li>

            <li><strong>Umiejtno integracji</strong>: cz r贸偶norodne podejcia i techniki w celu stworzenia sp贸jnych strategii.</li>

            <li><strong>Dowiadczenie z innych projekt贸w</strong>: Wnios wartociowe wskaz贸wki i najlepsze praktyki z poprzednich dowiadcze.</li>

            <li><strong>Zarzdzanie zmian</strong>: Przeprowadz Ciebie oraz Twoj firm przez zmian, skupiajc si na aspektach ludzkich i kulturowych.</li>
        </ol>


        <p class="mt-8"> <strong>Um贸w si na bezpatne 30-minutowe konsultacje</strong> przez <a href="https://calendly.com/michal-kukla/30min" class="underline">Calendly</a> lub zadzwo pod numer <a href="tel:+48691059529">+48 691 059 529</a>.</p>

        <p class="mt-4">Potrzebujesz wicej czasu lub regularnych spotka?</p>

        <p> <a href="https://app.easycart.pl/checkout/24365475/konsultacje" class="underline">Zam贸w konsultacje</a></p>
    </section>

</BaseLayout>
