---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';

export type Props = HeadProps & { showHeader?: boolean };

const { showHeader = true, ...head } = Astro.props;
const isProduction = import.meta.env.MODE === 'production';
---

<!doctype html>
<html lang="pl" class="antialiased break-words">
    <head>
        <BaseHead {...head} />
        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>
        <ViewTransitions />

        {isProduction ? (
          <script defer src="https://data.michalkukla.pl/script.js" data-website-id="271587ef-c0f7-4bfa-a51c-8b259278453e"></script>
        ) : (
          <script defer src="https://data.michalkukla.pl/script.js" data-website-id="bdda8a08-72b5-43ff-9fab-8ef3972bb0c5"></script>
        )}

        <script src="/umami-interest-modal.js" defer></script>

    </head>
    <body class="bg-main text-main">
        <div class="flex flex-col min-h-screen px-4 md:px-8">
            <Nav />
            {showHeader && <Header />}
            <main class="grow w-full max-w-3xl mx-auto">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
